[class^="button-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding-top: 0.35rem;
  padding-right: 0.5rem;
  padding-bottom: 0.35rem;
  padding-left: 0.5rem;
  transition: .3s ease;

  &:hover,
  &:focus {
    background: var(--kite-color-gray-20);
    color: var(--kite-color-blue-30);
  }

  &:has(.icon) {
    padding-left: 0.5em;
    
    .icon {
      font-size: 1em;
      margin-right: 0.25em;
    }
  }

  // &:has(.icon):not(.button-link):not(.button-icon):not(.button-primary) {
  //   padding-right: 0.7rem;

  //   .icon {
  //     font-size: 0.875em;
  //     margin-right: 0.35em;
  //     margin-left: 0.1em;
  //   }
  // }
}

.button-large {
  font-size: 1.875rem;
}

.button-small {
  font-size: 0.875rem;
}

.button-primary {
  background: var(--kite-color-blue-10);
  color: var(--kite-color-white);
  padding-top: 0.35rem;
  padding-right: 1rem;
  padding-bottom: 0.35rem;
  padding-left: 1rem;

  &:has(.icon) {
    padding-left: 0.5rem;
  }
}

.button-outline {
  background: transparent;
  border: 1px solid var(--kite-color-gray-30);
  color: var(--kite-color-gray-30);
  padding-right: 1rem;
  padding-bottom: 0.35rem;
  padding-left: 1rem;
  
  &.button-primary {
    border: 1px solid var(--kite-color-blue-10);
    color: var(--kite-color-blue-10);
  }

  &:hover,
  &:focus {
    border-color: transparent;
  }
}

.button-icon { 
  border-radius: 50%;
  font-size: 1rem;
  height: 24px;
  width: 24px;
  padding: 0;

  &:has(.icon) {
    padding-right: 0;

    .icon {
      font-size: 24px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.button-link {
  background: transparent;
  color: var(--kite-color-blue-20);
  padding: 0;

  &:has(.icon) {
    padding-left: 0;

    .icon {
      font-size: 0.9em;
    }
  }

  &:hover,
  &:focus {
    background: transparent;
    color: var(--kite-color-blue-20);
  }
}